{% extends 'base.html' %}
{% block title %} Menus {% endblock %}
{% block content %}
    <h1>Menu Detail</h1>
    <h2>{{ object.name }} <small><a href="{{object.restaurant.get_absolute_url}}">{{ object.restaurant }}</a></small></h2>
    {% if object.contents %}
        Contents
        <ul>
            {% for content in object.get_contents %}
                <li>
                    {{ content }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if object.excludes %}
        Excludes
        <ul>
            {% for exclude in object.get_excludes %}
                <li>
                    {{ exclude }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}    <p>{{ object.timestamp }} updated{{ object.updated | timesince }} ago</p>
{% endblock %}