{% extends 'base.html' %}
{% block title %} Menus {% endblock %}
{% block content %}
    <h1>My Menus</h1>
    <ul>
        {% for obj in object_list %}
            <li><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a> |
                <small><a href="{{ obj.restaurant.get_absolute_url }}">{{ obj.restaurant }}</a></small> <br>
                {% if obj.contents %}
                    Contents
                    <ul>
                        {% for content in obj.get_contents %}
                            <li>
                                {{ content }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if obj.excludes %}
                    Excludes
                    <ul>
                        {% for exclude in obj.get_excludes %}
                            <li>
                                {{ exclude }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ obj.timestamp }} |
                {{ obj.updated }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}