{% extends 'base.html' %}
{% block title %} Change password {% endblock %}

{% load bootstrap3 %}
{% block content %}
    <div class="card m-4">
        <div class="card-body ">
            <h1 class="m-2">Register:</h1>
            <form action="{% url 'change_password' %}" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    {# Read the documentation for more information #}

{% endblock %}