<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">Notifications<span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% for notif in request.user.notifications_target.all %}
            <li>
                <a href="{{ notif.url }}">
                    <b>{{ notif.actor }}</b> {{ notif.verb }}, {{ notif.timestamp | timesince }} ago
                </a>
            </li>
        {% empty %}
            <li>No new notifications</li>
        {% endfor %}
    </ul>
</li>