{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CfeHome | {% block title %}{% endblock %}</title>
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
{% include 'snippets/navbar.html' %}
{% include 'snippets/messages.html' %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card-body">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="{% static '/js/ajaxify.js' %} "></script>
<script src="{% static '/js/make-changes.js' %} "></script>

</body>
</html>